{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://media.wired.co.uk/photos/606dba1c9a15f73a597a2aa1/master/w_1600,c_limit/weather.jpg')" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coding Challenge</h1>
            <span class="subheading">A weather data collector. </span>
            
            
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This service collects data from an Open Weather API and store it as a JSON data. To use it, please enter your API Key and the city ID or cities IDs separed by a comma (,).</p>
          <!-- This is where the form will go -->
        {{ckeditor.load() }}     
        {{ ckeditor.config(name='body') }}        
        {{ wtf.quick_form(form, novalidate=True , button_map={"submit": "primary"}) }}
        
        
        <p>If you want to get an old resquest data using your User ID, please click <a href="/get-data">here </a>.</p>

      </div>
    </div>
  </div>
 
  
 

<hr>
{% include "footer.html" %}
{% endblock %}